wsdl/gym_registration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://gymregistration.example.com/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://gymregistration.example.com/"
             elementFormDefault="qualified">

    <!-- XSD Schema Types -->
    <types>
        <xs:schema targetNamespace="http://gymregistration.example.com/" elementFormDefault="qualified">

            <!-- Common Types -->
            <xs:complexType name="Pagination">
                <xs:sequence>
                    <xs:element name="page" type="xs:int"/>
                    <xs:element name="pageSize" type="xs:int"/>
                    <xs:element name="total" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SoapFault">
                <xs:sequence>
                    <xs:element name="faultCode" type="xs:string"/>
                    <xs:element name="faultString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Authentication Types -->
            <xs:complexType name="LoginCredentials">
                <xs:sequence>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="LoginResponse">
                <xs:sequence>
                    <xs:element name="token" type="xs:string"/>
                    <xs:element name="trainee" type="tns:Trainee"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SessionStatus">
                <xs:sequence>
                    <xs:element name="authenticated" type="xs:boolean"/>
                    <xs:element name="trainee" type="tns:Trainee" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Trainee Types -->
            <xs:complexType name="Trainee">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="timezone" type="xs:string" minOccurs="0"/>
                    <xs:element name="createdAt" type="xs:dateTime"/>
                    <xs:element name="updatedAt" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateTraineeRequest">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element name="timezone" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateTraineeRequest">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                    <xs:element name="password" type="xs:string" minOccurs="0"/>
                    <xs:element name="timezone" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="TraineeListResponse">
                <xs:sequence>
                    <xs:element name="trainees" type="tns:TraineeArray"/>
                    <xs:element name="pagination" type="tns:Pagination"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="TraineeArray">
                <xs:sequence>
                    <xs:element name="trainee" type="tns:Trainee" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Workout Types -->
            <xs:complexType name="Workout">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="duration" type="xs:int"/>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="color" type="xs:string" minOccurs="0"/>
                    <xs:element name="createdAt" type="xs:dateTime"/>
                    <xs:element name="updatedAt" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateWorkoutRequest">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="duration" type="xs:int"/>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="color" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateWorkoutRequest">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="duration" type="xs:int" minOccurs="0"/>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="color" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="WorkoutArray">
                <xs:sequence>
                    <xs:element name="workout" type="tns:Workout" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Routine Types -->
            <xs:complexType name="TimeSlot">
                <xs:sequence>
                    <xs:element name="day" type="xs:string"/>
                    <xs:element name="startTime" type="xs:string"/>
                    <xs:element name="endTime" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="TimeSlotArray">
                <xs:sequence>
                    <xs:element name="timeSlot" type="tns:TimeSlot" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Routine">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element name="availability" type="tns:TimeSlotArray"/>
                    <xs:element name="trainee" type="tns:Trainee"/>
                    <xs:element name="createdAt" type="xs:dateTime"/>
                    <xs:element name="updatedAt" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateRoutineRequest">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element name="availability" type="tns:TimeSlotArray"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateRoutineRequest">
                <xs:sequence>
                    <xs:element name="traineeId" type="xs:string"/>
                    <xs:element name="availability" type="tns:TimeSlotArray"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RoutineArray">
                <xs:sequence>
                    <xs:element name="routine" type="tns:Routine" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Registration Types -->
            <xs:complexType name="Registration">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="eventId" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element name="inviteeEmail" type="xs:string"/>
                    <xs:element name="startTime" type="xs:dateTime"/>
                    <xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="status" type="xs:string"/>
                    <xs:element name="trainee" type="tns:Trainee"/>
                    <xs:element name="createdAt" type="xs:dateTime"/>
                    <xs:element name="updatedAt" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CreateRegistrationRequest">
                <xs:sequence>
                    <xs:element name="eventId" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element name="inviteeEmail" type="xs:string"/>
                    <xs:element name="startTime" type="xs:dateTime"/>
                    <xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="status" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="UpdateRegistrationRequest">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="eventId" type="xs:string" minOccurs="0"/>
                    <xs:element name="userId" type="xs:string" minOccurs="0"/>
                    <xs:element name="inviteeEmail" type="xs:string" minOccurs="0"/>
                    <xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="status" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RegistrationArray">
                <xs:sequence>
                    <xs:element name="registration" type="tns:Registration" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Request/Response Elements -->
            <!-- Sessions -->
            <xs:element name="LoginRequest" type="tns:LoginCredentials"/>
            <xs:element name="LoginResponse" type="tns:LoginResponse"/>
            <xs:element name="LogoutRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LogoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CheckSessionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CheckSessionResponse" type="tns:SessionStatus"/>

            <!-- Trainees -->
            <xs:element name="GetTraineesRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="page" type="xs:int" minOccurs="0"/>
                        <xs:element name="pageSize" type="xs:int" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTraineesResponse" type="tns:TraineeListResponse"/>
            <xs:element name="CreateTraineeRequest" type="tns:CreateTraineeRequest"/>
            <xs:element name="CreateTraineeResponse" type="tns:Trainee"/>
            <xs:element name="GetTraineeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTraineeResponse" type="tns:Trainee"/>
            <xs:element name="UpdateTraineeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="trainee" type="tns:UpdateTraineeRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateTraineeResponse" type="tns:Trainee"/>
            <xs:element name="DeleteTraineeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteTraineeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Workouts -->
            <xs:element name="GetWorkoutsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetWorkoutsResponse" type="tns:WorkoutArray"/>
            <xs:element name="CreateWorkoutRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="workout" type="tns:CreateWorkoutRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateWorkoutResponse" type="tns:Workout"/>
            <xs:element name="GetWorkoutRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetWorkoutResponse" type="tns:Workout"/>
            <xs:element name="UpdateWorkoutRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="workout" type="tns:UpdateWorkoutRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateWorkoutResponse" type="tns:Workout"/>
            <xs:element name="DeleteWorkoutRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteWorkoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Routines -->
            <xs:element name="GetRoutinesRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="traineeId" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRoutinesResponse" type="tns:RoutineArray"/>
            <xs:element name="CreateRoutineRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="routine" type="tns:CreateRoutineRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateRoutineResponse" type="tns:Routine"/>
            <xs:element name="GetTraineeRoutineRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="traineeId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTraineeRoutineResponse" type="tns:Routine"/>
            <xs:element name="UpdateRoutineRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="routine" type="tns:UpdateRoutineRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateRoutineResponse" type="tns:Routine"/>
            <xs:element name="DeleteRoutineRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="traineeId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteRoutineResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Registrations -->
            <xs:element name="GetRegistrationsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRegistrationsResponse" type="tns:RegistrationArray"/>
            <xs:element name="CreateRegistrationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="registration" type="tns:CreateRegistrationRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateRegistrationResponse" type="tns:Registration"/>
            <xs:element name="GetRegistrationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRegistrationResponse" type="tns:Registration"/>
            <xs:element name="UpdateRegistrationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="registration" type="tns:UpdateRegistrationRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateRegistrationResponse" type="tns:Registration"/>
            <xs:element name="DeleteRegistrationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteRegistrationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Fault -->
            <xs:element name="SoapFault" type="tns:SoapFault"/>
        </xs:schema>
    </types>

    <!-- Messages -->
    <!-- Session Messages -->
    <message name="LoginRequest">
        <part name="parameters" element="tns:LoginRequest"/>
    </message>
    <message name="LoginResponse">
        <part name="parameters" element="tns:LoginResponse"/>
    </message>
    <message name="LogoutRequest">
        <part name="parameters" element="tns:LogoutRequest"/>
    </message>
    <message name="LogoutResponse">
        <part name="parameters" element="tns:LogoutResponse"/>
    </message>
    <message name="CheckSessionRequest">
        <part name="parameters" element="tns:CheckSessionRequest"/>
    </message>
    <message name="CheckSessionResponse">
        <part name="parameters" element="tns:CheckSessionResponse"/>
    </message>

    <!-- Trainee Messages -->
    <message name="GetTraineesRequest">
        <part name="parameters" element="tns:GetTraineesRequest"/>
    </message>
    <message name="GetTraineesResponse">
        <part name="parameters" element="tns:GetTraineesResponse"/>
    </message>
    <message name="CreateTraineeRequest">
        <part name="parameters" element="tns:CreateTraineeRequest"/>
    </message>
    <message name="CreateTraineeResponse">
        <part name="parameters" element="tns:CreateTraineeResponse"/>
    </message>
    <message name="GetTraineeRequest">
        <part name="parameters" element="tns:GetTraineeRequest"/>
    </message>
    <message name="GetTraineeResponse">
        <part name="parameters" element="tns:GetTraineeResponse"/>
    </message>
    <message name="UpdateTraineeRequest">
        <part name="parameters" element="tns:UpdateTraineeRequest"/>
    </message>
    <message name="UpdateTraineeResponse">
        <part name="parameters" element="tns:UpdateTraineeResponse"/>
    </message>
    <message name="DeleteTraineeRequest">
        <part name="parameters" element="tns:DeleteTraineeRequest"/>
    </message>
    <message name="DeleteTraineeResponse">
        <part name="parameters" element="tns:DeleteTraineeResponse"/>
    </message>

    <!-- Workout Messages -->
    <message name="GetWorkoutsRequest">
        <part name="parameters" element="tns:GetWorkoutsRequest"/>
    </message>
    <message name="GetWorkoutsResponse">
        <part name="parameters" element="tns:GetWorkoutsResponse"/>
    </message>
    <message name="CreateWorkoutRequest">
        <part name="parameters" element="tns:CreateWorkoutRequest"/>
    </message>
    <message name="CreateWorkoutResponse">
        <part name="parameters" element="tns:CreateWorkoutResponse"/>
    </message>
    <message name="GetWorkoutRequest">
        <part name="parameters" element="tns:GetWorkoutRequest"/>
    </message>
    <message name="GetWorkoutResponse">
        <part name="parameters" element="tns:GetWorkoutResponse"/>
    </message>
    <message name="UpdateWorkoutRequest">
        <part name="parameters" element="tns:UpdateWorkoutRequest"/>
    </message>
    <message name="UpdateWorkoutResponse">
        <part name="parameters" element="tns:UpdateWorkoutResponse"/>
    </message>
    <message name="DeleteWorkoutRequest">
        <part name="parameters" element="tns:DeleteWorkoutRequest"/>
    </message>
    <message name="DeleteWorkoutResponse">
        <part name="parameters" element="tns:DeleteWorkoutResponse"/>
    </message>

    <!-- Routine Messages -->
    <message name="GetRoutinesRequest">
        <part name="parameters" element="tns:GetRoutinesRequest"/>
    </message>
    <message name="GetRoutinesResponse">
        <part name="parameters" element="tns:GetRoutinesResponse"/>
    </message>
    <message name="CreateRoutineRequest">
        <part name="parameters" element="tns:CreateRoutineRequest"/>
    </message>
    <message name="CreateRoutineResponse">
        <part name="parameters" element="tns:CreateRoutineResponse"/>
    </message>
    <message name="GetTraineeRoutineRequest">
        <part name="parameters" element="tns:GetTraineeRoutineRequest"/>
    </message>
    <message name="GetTraineeRoutineResponse">
        <part name="parameters" element="tns:GetTraineeRoutineResponse"/>
    </message>
    <message name="UpdateRoutineRequest">
        <part name="parameters" element="tns:UpdateRoutineRequest"/>
    </message>
    <message name="UpdateRoutineResponse">
        <part name="parameters" element="tns:UpdateRoutineResponse"/>
    </message>
    <message name="DeleteRoutineRequest">
        <part name="parameters" element="tns:DeleteRoutineRequest"/>
    </message>
    <message name="DeleteRoutineResponse">
        <part name="parameters" element="tns:DeleteRoutineResponse"/>
    </message>

    <!-- Registration Messages -->
    <message name="GetRegistrationsRequest">
        <part name="parameters" element="tns:GetRegistrationsRequest"/>
    </message>
    <message name="GetRegistrationsResponse">
        <part name="parameters" element="tns:GetRegistrationsResponse"/>
    </message>
    <message name="CreateRegistrationRequest">
        <part name="parameters" element="tns:CreateRegistrationRequest"/>
    </message>
    <message name="CreateRegistrationResponse">
        <part name="parameters" element="tns:CreateRegistrationResponse"/>
    </message>
    <message name="GetRegistrationRequest">
        <part name="parameters" element="tns:GetRegistrationRequest"/>
    </message>
    <message name="GetRegistrationResponse">
        <part name="parameters" element="tns:GetRegistrationResponse"/>
    </message>
    <message name="UpdateRegistrationRequest">
        <part name="parameters" element="tns:UpdateRegistrationRequest"/>
    </message>
    <message name="UpdateRegistrationResponse">
        <part name="parameters" element="tns:UpdateRegistrationResponse"/>
    </message>
    <message name="DeleteRegistrationRequest">
        <part name="parameters" element="tns:DeleteRegistrationRequest"/>
    </message>
    <message name="DeleteRegistrationResponse">
        <part name="parameters" element="tns:DeleteRegistrationResponse"/>
    </message>

    <!-- Fault Message -->
    <message name="SoapFault">
        <part name="detail" element="tns:SoapFault"/>
    </message>

    <!-- Port Type -->
    <portType name="GymRegistrationPortType">
        <!-- Session Operations -->
        <operation name="Login">
            <input message="tns:LoginRequest"/>
            <output message="tns:LoginResponse"/>
            <fault name="LoginFault" message="tns:SoapFault"/>
        </operation>
        <operation name="Logout">
            <input message="tns:LogoutRequest"/>
            <output message="tns:LogoutResponse"/>
            <fault name="LogoutFault" message="tns:SoapFault"/>
        </operation>
        <operation name="CheckSession">
            <input message="tns:CheckSessionRequest"/>
            <output message="tns:CheckSessionResponse"/>
            <fault name="CheckSessionFault" message="tns:SoapFault"/>
        </operation>

        <!-- Trainee Operations -->
        <operation name="GetTrainees">
            <input message="tns:GetTraineesRequest"/>
            <output message="tns:GetTraineesResponse"/>
            <fault name="GetTraineesFault" message="tns:SoapFault"/>
        </operation>
        <operation name="CreateTrainee">
            <input message="tns:CreateTraineeRequest"/>
            <output message="tns:CreateTraineeResponse"/>
            <fault name="CreateTraineeFault" message="tns:SoapFault"/>
        </operation>
        <operation name="GetTrainee">
            <input message="tns:GetTraineeRequest"/>
            <output message="tns:GetTraineeResponse"/>
            <fault name="GetTraineeFault" message="tns:SoapFault"/>
        </operation>
        <operation name="UpdateTrainee">
            <input message="tns:UpdateTraineeRequest"/>
            <output message="tns:UpdateTraineeResponse"/>
            <fault name="UpdateTraineeFault" message="tns:SoapFault"/>
        </operation>
        <operation name="DeleteTrainee">
            <input message="tns:DeleteTraineeRequest"/>
            <output message="tns:DeleteTraineeResponse"/>
            <fault name="DeleteTraineeFault" message="tns:SoapFault"/>
        </operation>

        <!-- Workout Operations -->
        <operation name="GetWorkouts">
            <input message="tns:GetWorkoutsRequest"/>
            <output message="tns:GetWorkoutsResponse"/>
            <fault name="GetWorkoutsFault" message="tns:SoapFault"/>
        </operation>
        <operation name="CreateWorkout">
            <input message="tns:CreateWorkoutRequest"/>
            <output message="tns:CreateWorkoutResponse"/>
            <fault name="CreateWorkoutFault" message="tns:SoapFault"/>
        </operation>
        <operation name="GetWorkout">
            <input message="tns:GetWorkoutRequest"/>
            <output message="tns:GetWorkoutResponse"/>
            <fault name="GetWorkoutFault" message="tns:SoapFault"/>
        </operation>
        <operation name="UpdateWorkout">
            <input message="tns:UpdateWorkoutRequest"/>
            <output message="tns:UpdateWorkoutResponse"/>
            <fault name="UpdateWorkoutFault" message="tns:SoapFault"/>
        </operation>
        <operation name="DeleteWorkout">
            <input message="tns:DeleteWorkoutRequest"/>
            <output message="tns:DeleteWorkoutResponse"/>
            <fault name="DeleteWorkoutFault" message="tns:SoapFault"/>
        </operation>

        <!-- Routine Operations -->
        <operation name="GetRoutines">
            <input message="tns:GetRoutinesRequest"/>
            <output message="tns:GetRoutinesResponse"/>
            <fault name="GetRoutinesFault" message="tns:SoapFault"/>
        </operation>
        <operation name="CreateRoutine">
            <input message="tns:CreateRoutineRequest"/>
            <output message="tns:CreateRoutineResponse"/>
            <fault name="CreateRoutineFault" message="tns:SoapFault"/>
        </operation>
        <operation name="GetTraineeRoutine">
            <input message="tns:GetTraineeRoutineRequest"/>
            <output message="tns:GetTraineeRoutineResponse"/>
            <fault name="GetTraineeRoutineFault" message="tns:SoapFault"/>
        </operation>
        <operation name="UpdateRoutine">
            <input message="tns:UpdateRoutineRequest"/>
            <output message="tns:UpdateRoutineResponse"/>
            <fault name="UpdateRoutineFault" message="tns:SoapFault"/>
        </operation>
        <operation name="DeleteRoutine">
            <input message="tns:DeleteRoutineRequest"/>
            <output message="tns:DeleteRoutineResponse"/>
            <fault name="DeleteRoutineFault" message="tns:SoapFault"/>
        </operation>

        <!-- Registration Operations -->
        <operation name="GetRegistrations">
            <input message="tns:GetRegistrationsRequest"/>
            <output message="tns:GetRegistrationsResponse"/>
            <fault name="GetRegistrationsFault" message="tns:SoapFault"/>
        </operation>
        <operation name="CreateRegistration">
            <input message="tns:CreateRegistrationRequest"/>
            <output message="tns:CreateRegistrationResponse"/>
            <fault name="CreateRegistrationFault" message="tns:SoapFault"/>
        </operation>
        <operation name="GetRegistration">
            <input message="tns:GetRegistrationRequest"/>
            <output message="tns:GetRegistrationResponse"/>
            <fault name="GetRegistrationFault" message="tns:SoapFault"/>
        </operation>
        <operation name="UpdateRegistration">
            <input message="tns:UpdateRegistrationRequest"/>
            <output message="tns:UpdateRegistrationResponse"/>
            <fault name="UpdateRegistrationFault" message="tns:SoapFault"/>
        </operation>
        <operation name="DeleteRegistration">
            <input message="tns:DeleteRegistrationRequest"/>
            <output message="tns:DeleteRegistrationResponse"/>
            <fault name="DeleteRegistrationFault" message="tns:SoapFault"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="GymRegistrationBinding" type="tns:GymRegistrationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <!-- Session Operations -->
        <operation name="Login">
            <soap:operation soapAction="login"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="LoginFault"><soap:fault name="LoginFault" use="literal"/></fault>
        </operation>
        <operation name="Logout">
            <soap:operation soapAction="logout"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="LogoutFault"><soap:fault name="LogoutFault" use="literal"/></fault>
        </operation>
        <operation name="CheckSession">
            <soap:operation soapAction="checkSession"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="CheckSessionFault"><soap:fault name="CheckSessionFault" use="literal"/></fault>
        </operation>

        <!-- Trainee Operations -->
        <operation name="GetTrainees">
            <soap:operation soapAction="getTrainees"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetTraineesFault"><soap:fault name="GetTraineesFault" use="literal"/></fault>
        </operation>
        <operation name="CreateTrainee">
            <soap:operation soapAction="createTrainee"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="CreateTraineeFault"><soap:fault name="CreateTraineeFault" use="literal"/></fault>
        </operation>
        <operation name="GetTrainee">
            <soap:operation soapAction="getTrainee"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetTraineeFault"><soap:fault name="GetTraineeFault" use="literal"/></fault>
        </operation>
        <operation name="UpdateTrainee">
            <soap:operation soapAction="updateTrainee"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="UpdateTraineeFault"><soap:fault name="UpdateTraineeFault" use="literal"/></fault>
        </operation>
        <operation name="DeleteTrainee">
            <soap:operation soapAction="deleteTrainee"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="DeleteTraineeFault"><soap:fault name="DeleteTraineeFault" use="literal"/></fault>
        </operation>

        <!-- Workout Operations -->
        <operation name="GetWorkouts">
            <soap:operation soapAction="getWorkouts"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetWorkoutsFault"><soap:fault name="GetWorkoutsFault" use="literal"/></fault>
        </operation>
        <operation name="CreateWorkout">
            <soap:operation soapAction="createWorkout"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="CreateWorkoutFault"><soap:fault name="CreateWorkoutFault" use="literal"/></fault>
        </operation>
        <operation name="GetWorkout">
            <soap:operation soapAction="getWorkout"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetWorkoutFault"><soap:fault name="GetWorkoutFault" use="literal"/></fault>
        </operation>
        <operation name="UpdateWorkout">
            <soap:operation soapAction="updateWorkout"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="UpdateWorkoutFault"><soap:fault name="UpdateWorkoutFault" use="literal"/></fault>
        </operation>
        <operation name="DeleteWorkout">
            <soap:operation soapAction="deleteWorkout"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="DeleteWorkoutFault"><soap:fault name="DeleteWorkoutFault" use="literal"/></fault>
        </operation>

        <!-- Routine Operations -->
        <operation name="GetRoutines">
            <soap:operation soapAction="getRoutines"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetRoutinesFault"><soap:fault name="GetRoutinesFault" use="literal"/></fault>
        </operation>
        <operation name="CreateRoutine">
            <soap:operation soapAction="createRoutine"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="CreateRoutineFault"><soap:fault name="CreateRoutineFault" use="literal"/></fault>
        </operation>
        <operation name="GetTraineeRoutine">
            <soap:operation soapAction="getTraineeRoutine"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetTraineeRoutineFault"><soap:fault name="GetTraineeRoutineFault" use="literal"/></fault>
        </operation>
        <operation name="UpdateRoutine">
            <soap:operation soapAction="updateRoutine"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="UpdateRoutineFault"><soap:fault name="UpdateRoutineFault" use="literal"/></fault>
        </operation>
        <operation name="DeleteRoutine">
            <soap:operation soapAction="deleteRoutine"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="DeleteRoutineFault"><soap:fault name="DeleteRoutineFault" use="literal"/></fault>
        </operation>

        <!-- Registration Operations -->
        <operation name="GetRegistrations">
            <soap:operation soapAction="getRegistrations"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetRegistrationsFault"><soap:fault name="GetRegistrationsFault" use="literal"/></fault>
        </operation>
        <operation name="CreateRegistration">
            <soap:operation soapAction="createRegistration"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="CreateRegistrationFault"><soap:fault name="CreateRegistrationFault" use="literal"/></fault>
        </operation>
        <operation name="GetRegistration">
            <soap:operation soapAction="getRegistration"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="GetRegistrationFault"><soap:fault name="GetRegistrationFault" use="literal"/></fault>
        </operation>
        <operation name="UpdateRegistration">
            <soap:operation soapAction="updateRegistration"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="UpdateRegistrationFault"><soap:fault name="UpdateRegistrationFault" use="literal"/></fault>
        </operation>
        <operation name="DeleteRegistration">
            <soap:operation soapAction="deleteRegistration"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="DeleteRegistrationFault"><soap:fault name="DeleteRegistrationFault" use="literal"/></fault>
        </operation>
    </binding>

    <!-- Service -->
    <service name="GymRegistrationService">
        <port name="GymRegistrationPort" binding="tns:GymRegistrationBinding">
            <soap:address location="http://localhost:3001/soap"/>
        </port>
    </service>
</definitions>